.canvasContainer {
  margin-top: 30px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fafafa;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.waveformCanvas {
  display: block;
  width: 100%;
  height: 300px;
}
